{% extends 'base.html.twig' %}

{% block title %}Hello Limosquare{% endblock %}

{% block stylesheets %}
	
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/minty/bootstrap.min.css">
	{{ parent() }}
{% endblock %}

{% block body %}
	<p id="ligne1">Destination : Aéroport Charles de Gaulle</p>
	<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>Salut à toutes et à tous!</td>
	</tr>	
	</table>
{% endblock %}